*,*::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background: #0f0f10;
    font-family: 'Poppins', sans-serif;
    color: #BDC0C2;
    max-width: 105rem;
    height: 100%;
    overflow-x: hidden;
}
.lock{
    overflow: hidden;
}
.onscreen{
    color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.header{
    position: sticky;
    top: 0; 
    z-index: 3;
}
.header__logo{
    z-index: 4;
}
.header::before{
    content: "";
    display: block;
    width: 100%;
    height: 7.875rem;
    background: #0f0f10;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
/*.menu__burger{
    display: block;
    border: 2px solid #fff;
    width: 0.5625rem;
    height: 1.125rem;
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    z-index: 10;
}*/
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.8125rem 201px 24px 21.75rem;
    z-index: 4;
}

.navigation__body {
    display: flex;
    align-items: center;
    gap: 3.75rem;
    z-index: 4;
}
.navigation__item{
    z-index: 4;
}
.nvigation__link {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff33;
    z-index: 4;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
.nvigation__link:hover{
    color: #ffffff;

}
.navigation__btn {
    display: flex;
    align-self: center;
    font-size: 0.9375rem;
    color: #FFFFFF;
    background: #1E1E21;
    border-radius: 8px;
    padding: 1.0625rem 3.625rem 1rem 3.6875rem;
    margin-left: 37px;
    z-index: 4;
    transition: all ease-in-out 0.1s;
    -webkit-transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -ms-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
}
.navigation__btn:hover{
    background: #54545c;
    color: #0f0f10;
    transform: translate(1px, 2px);
    -webkit-transform: translate(1px, 2px);
    -moz-transform: translate(1px, 2px);
    -ms-transform: translate(1px, 2px);
    -o-transform: translate(1px, 2px);
}
.home__img {
    position: absolute;
    top: 0;
    left: 25.9375rem;
    z-index: 4;
}
@media screen and (max-width: 93.75rem) {
    .home__img{
        z-index: 2;
    }
}
.home__text {
    position: relative;
    top:0.625rem;
    left: 52.1875rem;
    z-index: 2;
}
.home__text::before{
    content: "On ear";
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 6rem;
    background: linear-gradient(180deg, #403B3E 0%, #242526 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 3.125rem;
    z-index: 2;
}
.home__title {
    font-weight: 600;
    font-size: 4rem;
    line-height: 6rem;
    color: #F2F2F3;
    margin-bottom: 2.375rem;
    z-index: 2;
}
.home__subtitle {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #F2F2F3;
    margin-bottom: 1.25rem;
    z-index: 2;
}
.home__description {
    font-size: 1rem;
    line-height: 2rem;
    max-width: 24.875rem;
    margin-bottom: 2.4375rem;
    z-index: 2;
}
.home__btn {
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: #1E1E21;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 0.9375rem;
    align-items: center;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    padding: 0.75rem 1.5rem 0.75rem 1.4375rem;
    margin-bottom: 8.75rem;
    z-index: 2;
}

.btn__img {
    padding-right: 0.8125rem;
    z-index: 2;
}
.bold-white {
    padding-left: 1.125rem;
    font-weight: 700;
    font-size: 1.25rem;
    z-index: 2;
}

.home__social {
    margin-bottom: 7.8125rem;
    z-index: 2;
}
.social__body {
    display: flex;
    justify-content: space-between;
    margin: 0 26.6875rem;
    align-items: center;
    z-index: 2;
   
}
.social__link img{
    transition: all ease 0.6s;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    z-index: 2;
}
.social__link img:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    z-index: 2;
}

.arrow{
    background: #181A1B;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    padding: 0.5rem;
    position: fixed;
    bottom:5.9375rem;
    right: 2.0625rem;
    z-index: 2;
}


/*mobile*/
@media screen and (max-width: 501px){
    .header{
        position: relative;
        top: 0; 
    }
    .header::before{
        height: 126px;
        z-index: 5;
        position: absolute;
        top: 0;
        left: -100%;
    }
    .menu__burger{
        z-index: 6;
    }
    
    .menu__burger span{
        display: block;
        border: 0.1125rem solid #fff;
        width: 0.5625rem;
        height: 1.125rem;
        position: relative;
        border-radius: 1px 0 0 1px;
        -webkit-border-radius: 1px 0 0 1px;
        -moz-border-radius: 1px 0 0 1px;
        -ms-border-radius: 1px 0 0 1px;
        -o-border-radius: 1px 0 0 1px;
        z-index: 6;
    }
    .menu__burger::before, .menu__burger::after{
        content: "";
        display: block;
        border: 0.1187rem solid #fff;
        position: relative;
        left: 9px;
        width: 0.5625rem;
        height: 0.5625rem;
        z-index: 5;
}
    .menu__burger::before{
        top: 9px;
    }
    .menu__burger:after{
        bottom: 9px;
    }
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px 28px 24px 24px;
        z-index: 5;
    }
    
    .navigation__body {
        display: block;
        position: absolute;
        top: 0;
        left: -100%;
        padding: 72px 24px;
        background: #000000b2;
        width: 100%;
        height: 100vh;
        overflow: auto;
        transition: all ease 1s;
        z-index: 3;
        -webkit-transition: all ease 1s;
        -moz-transition: all ease 1s;
        -ms-transition: all ease 1s;
        -o-transition: all ease 1s;
}
    .navigation__body.active{
        left: 0;
    }
    .nvigation__link {
        font-weight: 700;
        font-size: 24px;
        line-height: 48px;
        color: #BDC0C2;
    }
    .navigation__btn {
        display: inline-flex;
        margin-left: 0px;
    }

    .home__img {
        left: 217px;
    }
    
    .home__text {
        margin: 0 24px;
        top:75px;
        left: 0;
    }
    .home__text::before{
        font-weight: 600;
        font-size: 80px;
        line-height: 27px;
        margin-left: 16px;
    }
    .home__title {
        font-size: 2.5rem;
        line-height: 50px;
        margin-bottom: 38px;
    }
    .home__subtitle {
        font-size: 1.125rem;
        line-height: 1.6875rem;
        margin-bottom: 1.25rem;
    }
    .home__description {
        font-size: 14px;
        line-height: 32px;
        max-width: 438px;
        margin-bottom: 56px;
        z-index: 2;
    }

    .home__social {
        margin-bottom: 7.8125rem;
        z-index: 2;
    }
    .social__body {
        padding: 20px 0 0 0 ;
        margin: 0 24px;

   
       
    }
   
    .arrow{
        bottom:20px;
        right: 20px;
    }
}
/*mobile*/





.specs::before, .case::before{
    content: "Specs";
    font-size: 4.5rem;
    background: linear-gradient(180deg, #424245 0%, rgba(102, 102, 122, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: flex;
    justify-content: center;
    z-index: 2;
    
}

.specs {
   margin-bottom: 228px; 
}
.spec__container {
    display: flex;
    margin-top: 36px;
    gap: 90px;
    justify-content: center;
    align-items: center;
}
.specs__infoblock{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.spec__text:first-child{
    margin: 0 0 30px 24px;
}
.spec__text:nth-child(2){
    margin-bottom: 1.375rem;
}
.spec__text:nth-child(3){
    margin-bottom: 18px;
}
.spec__text:last-child{
    margin-left: 23px;
}
.specs__ico {
    margin-left: 5px;
}
.specs__title {
    font-weight: 600;
    line-height: 24px;
    margin: -5px 0 4px 0;
    color: #F2F2F3;
}
.specs__subtitle {
    font-size: 12px;
    line-height: 18px;
    color: #BDC0C2;
}

/*specs mobile  */
@media screen and (max-width: 501px){
    

    .specs::before, .case::before{
     
        font-size: 56px;
        
    }
    
    .specs {
       margin-bottom: 228px; 
    }
    .spec__container {
        display: flex;
        margin-top: 36px;
        gap: 90px;
        justify-content: center;
        align-items: center;
    }
    .specs__infoblock{
        margin-left: 70px;
    }
}
/*specs mobile*/
.case::before {
    content: "Case";
}
.case__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.case__block {
    display: flex;
    margin-top: 2.25rem;
}
.case__img {
    margin-left: -5.9375rem;
}
.case__text {
    position:relative;
    right: -80px;
    max-width: 15.125rem;
    margin: 95px 0  0 0;
}
.case__description {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 2.875rem;
}
.case__btn {
    display: inline-flex;
    align-items: center;
    background: #1E1E21;
    border-radius: 8px;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 1.0625rem 1.4375rem 1.0625rem 1.625rem;
}
.case__btn_ico {
    margin-right: 0.875rem;
}
.headphones__block {
    background: #181A1B;
    border-radius: 12px;
    margin-top: 174px;
    padding: 3rem 9.125rem;
    display: flex;
}
.headphones__text {
    margin: 1.9375rem 5.5625rem 0 0;
}
.headphones__title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #F2F2F3;
    margin-bottom: 1.125rem;
}
.headphones__subtitle {
    margin-bottom: 1rem;
}
.headphones__btn {
    display: inline-flex;
    align-items: center;
    background: #000000;
    border-radius: 0.5rem;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    color: #FFFFFF;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    padding: 1rem 2.0625rem 1rem 1.4375rem;
}
.headphones__btn_ico {
    margin-right: 0.875rem;
}

/*case mobile*/
@media screen and (max-width: 5001px) {
    .case__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .case__block {
        display: flex;
        margin-top: 2.25rem;
    }
    .case__img {
        margin-left: -5.9375rem;
        max-width: 250px;
        max-height: 349px;
    }
    .case__text {
        right: -70px;
        max-width: 207px;
        margin: 95px 0  0 0;
    }
    .case__description {
        font-size: 15px;
    }
  
    .headphones__block {
        background: #181A1B;
        border-radius: 12px;
        margin-top: 174px;
        padding: 35px 24px;
        display: flex;
        max-width: 443px;
    }
    .headphones__text {
        margin: 0 0 0 0;
    }
    .headphones__title {
        font-size: 18px;
        line-height: 27px;
    }
    .headphones__subtitle {
        margin-bottom: 1rem;
    }
    .headphones__img{
        width: 100%;
        height:100%;
        object-fit: contain;
    }
}
/*case mobile*/